.articulos{
    /* background: linear-gradient(150deg, #5b05a5, #e103cb); */
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
    min-height: 90vh;
    padding: 5%;
}

.cards{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card{
    background: rgb(230, 225, 229);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    transition: all .2s ease-in-out;
}

.card:hover{
    transform: translateY(-3px);
}

.card img{
    border-radius: 15px 0 0 15px;
}

.texto{
  width:650px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
}

.card h2{
    color: #08930f;
}

.card h3{
    background-image: linear-gradient(to right, #d30cda, #7b0ce2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card p{
 font-size: 1rem;
}

.card a{
    color: #d30cda;
    width: 100px;
    height: 40px;
    border: 1px solid black;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    transition: all .2s ease-in-out;
}

.card a:hover{
    background-color: #d30cda;
   color: #feffff;
}

@media (max-width: 600px){
    .articulos img{
        width: 300px;
    }

    .card{
        justify-content: center;
    }
}