.articulos{
    width: 100%;
    min-height: 90vh;
    height: auto;
    background-color: rgb(238, 233, 233);
    display: flex;
    flex-direction: column;
}


.intro{
 background: linear-gradient(150deg, #e103cb, #5b05a5);
  width: 100%;
  height:auto ;
  padding: 5%;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.intro h2{
    font-size: 2.5rem;
    background-image: linear-gradient(to right, #0cda4a, #0df54b);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.intro p{
    font-size: 1.4rem;
    font-weight: 500;
}

.fron{
    width: 100%;
    height: auto;
    min-height: 90vh;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.fron h2{
    font-size: 2.5rem;
    background-image: linear-gradient(to right, #d30cda, #7b0ce2);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.tecnoFron{
  width: 100%;
  height: auto;
  min-height: 90vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.tecnoFron .fronItem{
  cursor: pointer;
  opacity: .8;
  background-color: white;
  width: 380px;
  min-height: 250px;
  border: 1px solid rgb(184, 171, 171);
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.fronItem div h3 {
    color: #e103cb;
}

.fronItem div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px ;
}