.inicio{
  width: 90%;
  height: 90vh;
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  padding-bottom: 10vh;
  
}

.bloqueOne{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.bloqueOne h1{
  font-size: 2.5rem;
  color: white;
  max-width: 520px;
}

.bloqueOne h1 span{
  background-image: linear-gradient(to right, #d30cda, #7b0ce2);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

.bloqueOne p{
  color: white;
  max-width: 520px;
  font-size: 1.2rem;
  opacity: .7;
}

.bloqueOne a{
  background-color: white;
  width: 140px;
  height: 45px;
  border: 2px solid white;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgb(149, 7, 137);
  font-weight:600;
  transition: all .3s ease-in-out;
}

.bloqueOne a:hover{
  background-color: rgb(149, 7, 137);
  color: white;
  border: 2px solid rgb(149, 7, 137);
}

.padre{
  background-color: #000000; 
  opacity: 0.35;
  width: 100%;
  padding: 25px;
  height: auto;
  border: 2px solid #000000;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 10% 80%;
  align-items: flex-end;
}

.padre .dolar{
  color:rgb(119, 255, 0);
}

.padre h4{
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px #000000;
  
  
}
.eli{
  visibility: hidden;
}

.numeros{
  width: 100%;
  height: 100%;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.code{
  padding-left: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-direction: column;
  
}

