main{
  width: 100%;
  height: auto;
}

.inicio{
  width: 90%;
  height: auto;
  min-height: 90vh;
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  padding-bottom: 10vh;
  
}

.bloqueOne{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.bloqueOne h1{
  font-size: 2.5rem;
  color: white;
  max-width: 520px;
}

.bloqueOne h1 span{
  background-image: linear-gradient(to right, #d30cda, #7b0ce2);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

.bloqueOne p{
  color: white;
  max-width: 520px;
  font-size: 1.2rem;
  opacity: .7;
}

.bloqueOne a{
  background-color: white;
  width: 140px;
  height: 45px;
  border: 2px solid white;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgb(149, 7, 137);
  font-weight:600;
  transition: all .3s ease-in-out;
}

.bloqueOne a:hover{
  background-color: rgb(149, 7, 137);
  color: white;
  border: 2px solid rgb(149, 7, 137);
}

.padre{
  background-color: #000000; 
  opacity: 0.35;
  width: 100%;
  padding: 25px;
  height: auto;
  border: 2px solid #000000;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 10% 80%;
  align-items: flex-end;
}

.padre .dolar{
  color:rgb(119, 255, 0);
}

.padre h4{
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px #000000;
  
  
}
.eli{
  visibility: hidden;
}

.numeros{
  width: 100%;
  height: 100%;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.code{
  padding-left: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-direction: column;
  
}

.sobre{
  background:rgb(238, 233, 233);
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 5% ;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  
}

.sobre h2{
  font-size: 2.5rem;
  font-weight: 700;
  background-image: linear-gradient(to right, #d30cda, #7b0ce2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sobre h3{
  color: #08930f;
}

.sobre p{
  font-size: 1.2rem;
  max-width: 500px;
}

.sobreN{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.mapa img{
  border-radius: 15px;
}


.servicios{
  background:linear-gradient(150deg,  #e103cb, #5b05a5);
  width: 100%;
  height: auto;
  min-height: 70vh;
  padding: 5% ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.servicios .cards{
  display: flex;
  gap: 45px;
  flex-wrap: wrap;
}

.cards .card{
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card div{
  cursor: pointer;
  background-color: rgb(238, 233, 233);
  color: rgb(149, 7, 137);
  font-weight: 700;
  width: 110px;
  height: 40px;
  border: 2px solid white;
  border-radius: 7px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-in-out;
}

.card div:hover{
  background-color: rgb(149, 7, 137);
  color: white;
  border: 2px solid rgb(149, 7, 137);
}


.cards  .card2, .card3{
  width: 350px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card2 span{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card3 span{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cards p{
  font-size: 1.1rem;
  opacity: .9;
  font-weight: 500;
}



.cards h3{
 color: #00ff33;
 font-size: 1.1rem;
}

.cards h2{
  color: white;
  font-size: 1.5rem;
}



.tecno{
  background-color: white;
  min-height: 100vh;
  height: auto;
  padding: 5%;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fill,minmax(25rem,1fr));
  align-items: center;

  
}

.tecno2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}


.tecnoImg{
  background-color: rgb(218, 222, 226);
  width: 180px;
  height: 100px;
  border: 2px solid rgb(179, 169, 169);
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s ease-in-out;
}

.tecnoImg:hover{
  transform: translateY(-2px);
}

.tecnoImg img{
  filter: invert(11%) sepia(91%) saturate(6501%) hue-rotate(301deg) brightness(106%) contrast(100%);
}

.sobreTecno{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sobreTecno h3{
  font-size: 1.1rem;
  color:#08930f;
}

.sobreTecno h2{
  font-size: 2.5rem;
  background-image: linear-gradient(to right, #d30cda, #7b0ce2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sobreTecno p{
  width: 80%;
  font-size: 1.2rem;
  font-weight: 500;
}

.sobreTecno div{
  cursor: pointer;
  width: 110px;
  height: 40px;
  border: 1px solid black;
  border-radius: 7px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-in-out;
}

.sobreTecno div:hover{
  background-color: rgb(149, 7, 137);
  border: 1px solid rgb(149, 7, 137);
  color: white;
}


.footer{
  background:linear-gradient(130deg,  #240134, #50024d , #011c2e);
  width: 100%;
  min-height: 50vh;
  height: auto;
  padding: 5% 5% 30px 5%;
}

.footer2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.footer2 div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.footer2 h3{
  font-size: 1.3rem;
  color: white;
  cursor: default;
}

.footer2 span{
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
  opacity: .6;
}

.redes{
  width: 100%;
  height: 100px;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;

}

.redes span{
  cursor: default;
  font-size: 1.4rem;
  color: white; 
}

.redesImg{
  display: flex;
  
}

.redesImg img{
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(288deg) brightness(105%) contrast(101%);
}