.btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    
}

.btn div{
  background-color: white;
  color:rgb(149, 7, 137) ;
  width: 95px;
  height: 35px;
  border: 2px solid white;
  border-radius: 7px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.btn div:hover{
  background-color: rgb(149, 7, 137);
  color: white;
  border: 2px solid rgb(149, 7, 137);
}

.btn a{
    text-decoration: none;
}
