header{
  z-index: 9;
  position: sticky;
  top: 0;
  width: 100%;
  height: 10vh;
  padding: 0 5%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 22% 56% 22%;
  align-items: center;
  transition: background-color 0.5s ease-in-out; 
}



header.scrolled {
  background:linear-gradient(130deg,  #240134, #50024d , #240134);
}

.nav{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.nav a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.logo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo h2{
  color: white;
  font-family: 'Times New Roman', Times, serif;

  font-weight: 900;
}

